.like-icon {
  transform-origin: center;
}

.like-icon .heart {
  transform-origin: center;
  transform-box: fill-box;
}

.like-icon .contour {
  fill: var(--color-main);
  transition: fill 0.1s linear 0s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--color-accent-red);
}

@media (hover: hover) {
  .like-icon:hover .core {
    fill: var(--color-main);
    transition: fill 0.3s linear 0s;
  }

  .like-icon:hover .main-body {
    fill: var(--color-main);
    transition: fill 0.3s linear 0.05s;
  }
}

.like-icon:active .core {
  fill: var(--color-accent-red);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--color-accent-red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--color-accent-red);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--color-accent-red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-accent-red);
  transition: fill 0.3s linear 0.06s;
}

@media (hover: hover) {
  .like-icon.is-liked:hover .core {
    fill: var(--color-accent-red);
    transition: fill 0.3s linear 0s;
  }

  .like-icon.is-liked:hover .main-body {
    fill: var(--color-accent-red);
    transition: fill 0.3s linear 0.05s;
  }

  .like-icon.is-liked:hover .contour {
    fill: var(--color-accent-red);
    transition: fill 0.3s linear 0.06s;
  }
}

@keyframes scaleHeart {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
}

@keyframes sparksFlash {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.like-icon.is-liked .heart {
  animation: scaleHeart 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparksFlash 0.3s ease-in 0.3s 1;
}